@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');

.card-header img{
    height: 100px;
    width: 100px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: white;
    font-family: 'Barlow Semi Condensed',sans-serif;
    line-height: 1.8;
    font-size: 13px;
}
.testimonials{
    max-width: 1440px;
    margin: 100px auto;
    padding: 30px;
}
.card{
    background: #fff;
    border: solid 2px black;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 10px;
}